* {
    margin: 5 0 5 0;
    padding: 0;
    box-sizing: border-box;
}

html {


    font-size: 62.5%;
}

header {
    background-image: linear-gradient(rgba(184, 166, 182, 0.368), rgba(149, 141, 141, 0.674)), url(img/tsvetya-za-svatba-1536x1024.jpg);

    background-size: cover;
    height: 90vh;
    border-radius: 10px;


}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1;
    font-weight: 400;
    color: rgb(78, 19, 82);
}

/*a:link,
a:visited {
    widows: 200px;
    padding: 10px;
    border-radius: 12px;
    background-color: rgba(177, 84, 157, 0.438);
    text-decoration: none;
    color: rgba(43, 27, 41, 0.936);
    border-bottom-style: groove;
}*/

/******Navigation******/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9.6rem;
    padding: 0 4.8rem;
    position: relative;
    border-radius: 10px;
    background-image: linear-gradient(to right bottom, #81417d95, #DFB3CE);
    overflow: hidden;
}


.main-nav {
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;

}

.main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: rgb(78, 19, 82);
    font-weight: 500;
    font-size: 1.4rem;
    transition: all 0.3s;

}

.main-nav-link:hover,
.main-nav-link:active {
    color: rgb(37, 91, 125);
    background-color: rgba(177, 84, 157, 0.438);

}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
    border-radius: 9px;
    color: black;
    background-color: rgba(177, 84, 157, 0.438);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
    background-color: rgba(152, 33, 156, 0.833);
}

.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
    border-bottom-style: groove;
    cursor: pointer;
    font-family: inherit;
    transition: all 0.3s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #895f87bd;
    color: #c1baba;

}

.btn-full:hover,
.btn-full:active {
    background-color: #81417de7;
    box-shadow: inset 0 0 0 1px #2a252e;
}

.btn-outline:link,
.btn-outline:visited {
    background-color: rgba(177, 84, 157, 0.438);
    color: rgb(78, 19, 82);
}

.btn-outline:hover,
.btn-outline:active {
    background-color: rgba(147, 110, 139, 0.438);
    box-shadow: inset 0 0 0 1px #2a252e;
}


.container {
    margin: 2.8rem auto;
    max-width: 120rem;
    padding: 0 3.2rem;

}

/********HERO SECTION*******/


h1 {
    font-size: 4.2rem;
    align-content: center;
    margin-bottom: 5.8rem;
}

.subheading {
    display: contents;
    font-size: 1.6rem;
    font-weight: 500;
    color: #5e215a;
    text-transform: uppercase;
    margin: 2 1 1 2;
    letter-spacing: 1px;
}

.hero {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;

}

.hero-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}

.hero-img {
    width: 70%;
    height: 70%;
    border-radius: 1rem;
    box-shadow: #555;
}


.grid {
    display: grid;
    column-gap: 20px;
}

.grid-3-colls {
    grid-template-columns: 1fr 1fr 1fr;


}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: right;
    background-color: blanchedalmond;
    border-radius: 10px;
}

.product {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: burlywood;
    border-radius: 10px;

}


.product-img {
    width: 160px;
    height: 170px;

}

#product {
    padding: 2.8rem 6.4rem 6.4rem 6.8rem;

}

.product-title {
    font-size: 2.4rem;
    color: #5e215a;
    font-weight: 600;
    margin-bottom: 3.2rem;
    display: flex;
    justify-content: center;
}

/*********** CTA ********************/

.cta-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
}

.cta-form label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.2rem;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: #7f2f7bbd;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(86, 80, 80, 0.055);
}

.cta-form input::placeholder {
    color: #aba1a1;
}

.cta-img-box {
    background-image: linear-gradient(to right bottom,
            rgba(184, 165, 165, 0.934),
            transparent),
        url("../Project/img/roses-6724796_960_720.jpg");
    background-size: cover;
    background-position: right;
}

.cta {
    display: grid;

    grid-template-columns: 2fr 1fr;
    box-shadow: 0 2.4rem 4.8rem rgba(56, 47, 47, 0.15);
    border-radius: 10px;

    background-image: linear-gradient(to right bottom, #81417d95, #DFB3CE);
    overflow: hidden;
}

.btn--form {
    background-color: #895f87bd;
    background-color: none;
    color: #c1baba;
    align-self: end;
    padding: 1.2rem;
}

#cta {
    padding: 1rem 0 1rem;
}

.cta-text {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

/********FOOTER*********/

.grid-4-colls {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: blanchedalmond;
    border-radius: 10px;

}

.footer-heading {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    color: black;
    margin-bottom: 2.8rem;
    margin-top: 1rem;
    letter-spacing: 0.75px;

}

.logo-list {
    list-style: none;
    margin: 1.8rem;
    font-size: 1.4rem;
}

.logo-list li {
    margin-left: 1rem;
    margin-bottom: 1.8rem;
}

.address {
    font-size: 1.6rem;
    font-weight: 500;
}

.footer-list {
    list-style: none;
    font-size: 1.4rem;
    margin: 1.8rem;
}

.footer-list li {
    margin-bottom: 1.8rem;
}

.footer-list a:link,
footer-list a:visited {
    color: black;
    text-decoration: none;
}

footer-list a:hover,
footer-list a:active {
    color: black;
}